@import "../common/colors";
@import "../common/breakpoints";
@import "../common/fonts";

.footer {
    padding: 120px 0 0;
    margin-top: -120px;

    &__wrap {
        background: $cyan-color;
    }

    &__content {
        padding: 50px 0;
        display: grid;grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 50px;
    }

    &__box-line {
        width: 20%;
        height: 3px;
        background-color: #e48564;
        margin: 0 auto 30px;
    }

    &__col,
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__col-title {
        font-family: $main-font;
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    &__item:not(:last-child) {
        margin-bottom: 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        font-family: $main-font;
        font-size: 16px;
        line-height: 1.7;
        position: relative;
        transition: color 0.25s ease 0s;
    
        &:hover {
            color: $accent-color;
        }
    }

    &__logo-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo-link {
        display: block;
        width: 141px;
        height: 135px;
        margin-bottom: 20px;
    }

    &__logo-img {
        width: 100%;
        margin-bottom: 20px;
        fill: $light-background-color;
        transition: all 0.25s ease 0s;
    
        &:hover {
            fill: $accent-color;
        }
    }

    &__logo-text {
        text-align: center;
        font-family: $main-font;
        line-height: 1.4;
    }

    &__instagram-icon {
        margin-right: 10px;
        fill: $light-text-color;
        transition: fill 0.3s ease;

        &:hover {
            fill: $accent-color;
        }
    }

    &__telegram-icon {
        margin-right: 10px;
        fill: $light-text-color;
        transition: fill 0.3s ease;

        &:hover {
            fill: $accent-color;
        }
    }

    @media screen and (max-width: $breakpoint_md) {

        &__content {
            padding: 36px 0;
            grid-template-columns: 1fr;
        }
    }
}