$accent-color: #e48564;
$cyan-color: #0f6865;
$dark-background-color: #042323;
$light-background-color: #ffffff;
$inactive-color: #bdbdbd;


$accent-text-color: #e48564;
$text-color: #042323;
$second-text-color: #161212;
$light-text-color: #FFF;