@import "breakpoints";
@import "colors";
@import "fonts";

html {
    scroll-behavior: smooth;
}

body {
    font-family: $secondary-font;
    background-color: $dark-background-color;
    color: $light-text-color;
    letter-spacing: 0.2px;

    @media screen and (max-width: $breakpoint_md) {
        &.lock {
            overflow: hidden;
        }
    }
}

main {
    margin-top: 104px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;

    @media screen and (max-width: $breakpoint_md) {
        max-width: 720px;
    }

    @media screen and (max-width: $breakpoint_sm) {
        max-width: 398px;
    }
}

.title-section {
    text-align: center;

    &__title {
        font-size: 40px;
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    @media screen and (max-width: $breakpoint_md) {
        &__title {
            font-size: 30px;
        }
    }
}

.to-top__wrap {
    display: none;
}

.to-top__link {
    position: fixed;
    right: 25px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $light-background-color;

    &:hover {
        border: 2px solid $light-background-color;
    }

    @media screen and (max-width: $breakpoint_sm) {
        right: 15px;
    }
}

.to-top__icon {
    width: 18px;
    height: 16px;
}